@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}

/* LAYOUT */
header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.between {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  header {
    height: 50vh;
    border-bottom: 6px solid #eee;
  }

  main {
    flex-direction: column;
    margin-top: 7rem;
  }

  .left {
    width: 100%;
    margin-top: 5rem;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .between {
    top: 5rem;
    right: 3rem;
  }

  .again {
    top: 3rem;
    left: 3rem;
  }
}

@media (max-width: 500px) {
  header {
    position: relative;
    height: 60vh;
    border-bottom: 5px solid #eee;
  }

  h1 {
    font-size: 3rem;
    margin-top: 2rem;
  }

  .guess-my {
    display: block;
    padding-bottom: 1rem;
  }

  .num {
    display: block;
  }

  .between {
    font-size: 1.1rem;
    top: 2rem;
    left: 2rem;
  }

  .again {
    font-size: 1.3rem;
    top: 6rem;
    left: 2rem;
  }

  .left {
    width: 100%;
    margin-top: 8rem;
  }

  .right {
    padding: 1.5rem;
    font-size: 1.8rem;
    margin-top: 7rem;
  }
}
